<!DOCTYPE html>
<html lang="{{ lang|default('ko') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Salon De Nature{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <meta property="og:title" content="Salon De Nature">
    <meta property="og:description" content="Premium nail care inspired by nature, elegance, and relaxation.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://salondenature.shop">
    <meta property="og:image" content="https://salondenature.shop/static/images/og-image.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Salon De Nature">
    <meta name="twitter:description" content="Premium nail care inspired by nature, elegance, and relaxation.">
    <meta name="twitter:image" content="https://salondenature.shop/static/images/og-image.jpg">


</head>
<body>

{% include "navbar.html" %}

<hr>



{% block content %}
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
    {% endif %}
{% endwith %}

</body>
</html>
