<!DOCTYPE html>
<html lang="{{ lang|default('ko') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Salon De Nature{% endblock %}</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

{% include "navbar.html" %}

<hr>



{% block content %}
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
    {% endif %}
{% endwith %}

</body>
</html>
